<%- include('./partials/head') %>

<img src="/images/big-mountain-parallax.webp" alt="Big mountain on backdrop">
<img src="/images/small-mountain-parallax.webp" alt="Small mountain on backdrop">
<img src="/images/trees-parallax.webp" alt="Trees on backdrop">

<div id="container">
    <div id="inner">
        <h1> 
            <%= data.name %> 
            <%= data.surname %> 
        </h1>
        <p> 
            <%= data.bio %> 
        </p>
        <img src="/images/Web_Photo_Editor.jpg" alt="selfportrait">
    </div>
</div>

<%- include('./partials/foot') %>
