<%- include('./partials/head') %>

<img src="/images/big-mountain-parallax.webp" alt="big mountain">
<img src="/images/small-mountain-parallax.webp" alt="small mountain">
<img src="/images/trees-parallax.webp" alt="trees">

<div id="container">
    <div id="inner">
        <h1> 
            <%= data.name %> 
            <%= data.surname %> 
        </h1>
        <p> 
            <%= data.bio %> 
        </p>
        <!-- <p>
            Hi! Ik ben Tygo, en ik ben 19 jaar oud. Ik woon in de Zaanstreek, in een dorp genaamd Krommenie. 
            Voordat ik mij bij FDND aansloot, heb ik een jaar de opleiding CMD gestudeerd. Hierbij heb ik mijn
            propedeuse behaald waar ik vervolgens niks mee doe... 
            <br><br>
            Verder ben ik werkzaam als barman in een spaans restaurant bij mij om de hoek. Dit doe ik nu al 
            1.5 jaar, waarvan ik het eerste jaar fulltime heb gewerkt. Als ik niet op school zit of aan het 
            werk ben, ga ik graag wat ondernemen met mijn vrienden.
        </p> -->
        <img src="/images/Web_Photo_Editor.jpg" alt="selfportrait">
    </div>
</div>

<%- include('./partials/foot') %>
